<%= form_for [@posts,@comment], :url => url_for(
:controller => 'comments',
:action => 'create') do |f| %>

<h2>Add A Comment</h2>
<%= f.text_field :body %>
<%= hidden_field_tag(:id, @post.id) %>
<%= f.submit %>
<% end %>
